@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(50px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeInBottomLeft {
  from {
    opacity: 0;
    transform: translate(-50px, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInTopRight {
  from {
    opacity: 0;
    transform: translate(50px, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate(50px, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Heartbeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.03);
  }
  60% {
    transform: scale(1);
  }
}

@keyframes shakeY {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  .screen_container {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
    will-change: opacity, transform;
    &.animate {
      opacity: 1;
      transform: translateY(0);
      animation: fadeInUp 0.8s ease-out forwards;
      @media (max-width: 768px) {
        animation: fadeInUp 0.15s ease-out forwards;   
      }
    }
  }



html,
body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', 'Noto Sans SC', '微軟正黑體', sans-serif !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: rgba(250, 194, 50, 0.5) !important;
    -webkit-overflow-scrolling: touch;
}

main{
  max-width: 1200px;
  margin: 0 auto;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.btn {
    color: #fff !important;
}

b,
strong {
    font-weight: 600;
}

.add{
  img{
    width: 112px;
    @media (max-width: 768px) {
      width: 80px;
    }
  }
  animation: shakeY 0.8s ease-out infinite;
  position: fixed;
  bottom: 10%;
  right: calc(calc(100% - 1200px) / 2);
  @media (max-width: 1200px) {
    right: 10px;
  }
  z-index: 99;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 透明黑色背景 */
    z-index: 9999;
}

.modal-dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 15px;
}

.modal-title {
    margin: 0;
}

#bannerCarousel {
    z-index: 1;
}

table {
    table-layout: fixed;
    width: 100%;
    /* 固定寬度 */
    td:first-child,
    th:first-child {
        position: sticky;
        left: 0;
        /* 首行永遠固定於左 */
        z-index: 1;
        width: 180px;
    }

    thead tr th {
        position: sticky;
        top: 0;
        /* 列首永遠固定於上 */
    }
}






    #screen_25_1{
        background-image: url("/assets/img/W25-01-1.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        z-index: 10;
        position: relative;
        min-height: 700px;
        /* 使用迴圈生成不同螢幕寬度的高度設定 */
        $base-height: 700;
        overflow: hidden;

        $breakpoints: (
            920: 0.9,
            800: 0.8,
            768: 0.7,  /* 平板 */
            700: 0.6,
            576: 0.5,  /* 手機橫向 */
            430: 0.4,
            375: 0.3   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
            }
        }

        .screen_container{
            width: 58%;
            margin: 0 auto;
            padding-top: 150px;
            $base-padding-top: 150;

            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.55,  /* 手機橫向 */
              375: 0.3   /* 手機直向 */
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}px !important;
                }
            }

            .left_side{
                width: 320px;
                position: absolute;
                left: -200px;
                top: 0;
                text-align: right;
                padding-top: 50px;
                $base-left-padding-top: 50;
                $base-left: -200;
                $base-width: 320;
                @each $width, $scale in $breakpoints {
                    @media (max-width: #{$width}px) {
                        padding-top: #{$base-left-padding-top * $scale}px !important;
                        left: #{$base-left * $scale}px !important;
                        width: #{$base-width * $scale}px !important;
                    }
                }    

                img {
                    width: 100%;
                    opacity: 0;
                }

                img:nth-child(1) {
                    animation: bounceIn 0.8s ease-out forwards;
                }

                img:nth-child(2) {
                    animation: fadeInBottomLeft 0.8s ease-out 0.3s forwards;
                }
            }

            .banner{
                width: 45%;
                margin: 0 auto;
                max-height: 550px;
                animation: fadeIn 0.8s ease-out forwards;
            }

            .banner1{
                width: 40%;
                margin: 0 auto;
                position: absolute;
                left: 30%;
                top: 74%;
                animation: Heartbeat 1.5s ease-in-out 0.5s infinite;
            }

            .right_side{
                width: 340px;
                position: absolute;
                right: -200px;
                top: 0;
                text-align: center;
                padding-top: 50px;
                $base-right-padding-top: 50;
                $base-right: -200;
                $base-width: 340;
                @each $width, $scale in $breakpoints {
                    @media (max-width: #{$width}px) {
                        padding-top: #{$base-right-padding-top * $scale}px !important;
                        right: #{$base-right * $scale}px !important;
                        width: #{$base-width * $scale}px !important;
                    }
                } 
                img {
                    width: 100%;
                    opacity: 0;
                }

                img:nth-child(1) {
                    animation: fadeInTopRight 0.8s ease-out forwards;
                }

                img:nth-child(2) {
                    animation: bounceIn 0.8s ease-out 0.3s forwards;
                }

                img:nth-child(3) {
                    animation: fadeInBottomRight 0.8s ease-out 0.6s forwards;
                }
            }
        }
    }

    #screen_25_2{
        overflow: hidden;
        background-image: url("/assets/img/W25-01-2.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 830px;
        margin-top: -80px;
        $base-height: 830;
        $base-margin-top: -80;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.5,  /* 手機橫向 */
          430: 0.4,
          375: 0.3   /* 手機直向 */
        );
        z-index: 9;
        position: relative;
        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
                margin-top: #{$base-margin-top * $scale}px!important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 10;
            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.5,  /* 手機橫向 */
              430: 0.4,
              375: 0.3   /* 手機直向 */
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }

            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_3{
        overflow: hidden;
        background-image: url("/assets/img/W25-01-3.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1320px;
        margin-top: -90px;
        position: relative;
        z-index: 8;
        $base-height: 1320;
        $base-margin-top: -90;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.5,  /* 手機橫向 */
          430: 0.4,
          390: 0.35,
          375: 0.3   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
                margin-top: #{$base-margin-top * $scale}px!important;
            }
        }


        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 10;
            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.5,  /* 手機橫向 */
              430: 0.4,
              375: 0.3   /* 手機直向 */
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
                z-index: 1;
            }
        }
    }

    #screen_25_4{
        overflow: hidden;
        background-image: url("/assets/img/W25-01-4.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 696px;
        position: relative;
        $base-height: 696;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.5,  /* 手機橫向 */
          430: 0.4,
          375: 0.3   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 10;
            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.5,  /* 手機橫向 */
              430: 0.4,
              375: 0.3   /* 手機直向 */
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_5{
        overflow: hidden;
        background-image: url("/assets/img/W25-01-5.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1368px;
        margin-top: 0px;
        position: relative;
        $base-height: 1368;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.45,  /* 手機橫向 */
          430: 0.4,
          390: 0.35,
          375: 0.33   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 10;
            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.5,  /* 手機橫向 */
              430: 0.4,
              375: 0.3   /* 手機直向 */
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_51{
        overflow: hidden;
        background-image: url("/assets/img/W25-01-6.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 833px;
        position: relative;
        z-index: 7;
        $base-height: 833;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.5,  /* 手機橫向 */
          430: 0.4,
          375: 0.3   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 10;
            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.5,  /* 手機橫向 */
              430: 0.4,
              375: 0.3   /* 手機直向 */
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_52{
        overflow: hidden;
        background-image: url("/assets/img/W25-01-7.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1500px;
        margin-top: -105px;
        position: relative;
        z-index: 6;
        $base-margin-top: -105;
        $base-height: 1500;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.5,  /* 手機橫向 */
          430: 0.4,
          390: 0.3,
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
                margin-top: #{$base-margin-top * $scale}px!important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 10;
            $padding-breakpoints: (
              920: 0.9,
              800: 0.8,
              768: 0.7,  /* 平板 */
              700: 0.6,
              576: 0.5,  /* 手機橫向 */
              430: 0.4,
              390: 0.3,
            );

            @each $width, $scale in $padding-breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_6{
      overflow: hidden;
      background-image: url("/assets/img/W25-02-1.webp");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      text-align: center;
      z-index: 5;
      position: relative;
      min-height: 1314px;
      /* 使用迴圈生成不同螢幕寬度的高度設定 */
      $base-height: 1314;
      $breakpoints: (
        920: 0.9,
        800: 0.8,
        768: 0.7,  /* 平板 */
        700: 0.6,
        576: 0.45,  /* 手機橫向 */
        430: 0.4,
        390: 0.35   /* 手機直向 */
      );

      @each $width, $scale in $breakpoints {
          @media (max-width: #{$width}px) {
              min-height: #{$base-height * $scale}px !important;
          }
      }

      .screen_container{
          width: 100%;
          margin: 0 auto;
          padding-top: 10vh;
          $base-padding-top: 15;
          @each $width, $scale in $breakpoints {
              @media (max-width: #{$width}px) {
                  padding-top: #{$base-padding-top * $scale}vh !important;
              }
          }

          .banner{
              width: 100%;
              margin: 0 auto;
          }
      }
    }

    #screen_25_7{
        overflow: hidden;
        background-image: url("/assets/img/W25-02-2.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1290px;
        $base-height: 1290;
        $base-margin-top: -132;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.45,  /* 手機橫向 */
          430: 0.4,
          375: 0.35   /* 手機直向 */
        );
        z-index: 4;
        position: relative;
        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
                margin-top: #{$base-margin-top * $scale}px!important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 25;
            @each $width, $scale in $breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }

            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_8{
        overflow: hidden;
        background-image: url("/assets/img/W25-02-3.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1200px;
        margin-top: -132px;
        position: relative;
        z-index: 3;
        $base-height: 1200;
        $base-margin-top: -132;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.45,  /* 手機橫向 */
          430: 0.4,
          375: 0.35   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
                margin-top: #{$base-margin-top * $scale}px!important;
            }
        }


        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 20;
            @each $width, $scale in $breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_9{
        overflow: hidden;
        background-image: url("/assets/img/W25-02-4.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 2010px;
        position: relative;
        z-index: 2;
        $base-height: 2010;
        $breakpoints: (
          920: 0.9,
          800: 0.8,
          768: 0.7,  /* 平板 */
          700: 0.6,
          576: 0.45,  /* 手機橫向 */
          430: 0.4,
          390: 0.35   /* 手機直向 */
        );

        @each $width, $scale in $breakpoints {
            @media (max-width: #{$width}px) {
                min-height: #{$base-height * $scale}px !important;
            }
        }

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            $base-padding-top: 20;
            @each $width, $scale in $breakpoints {
                @media (max-width: #{$width}px) {
                    padding-top: #{$base-padding-top * $scale}vh !important;
                }
            }
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_10{
      overflow: hidden;
      background-image: url("/assets/img/W25-03-1.webp");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      text-align: center;
      z-index: 10;
      position: relative;
      min-height: 1260px;
      /* 使用迴圈生成不同螢幕寬度的高度設定 */
      $base-height: 1260;
      $breakpoints: (
        920: 0.9,
        800: 0.8,
        768: 0.7,  /* 平板 */
        700: 0.6,
        576: 0.45,  /* 手機橫向 */
        430: 0.4,
        390: 0.35   /* 手機直向 */
      );

      @each $width, $scale in $breakpoints {
          @media (max-width: #{$width}px) {
              min-height: #{$base-height * $scale}px !important;
          }
      }

      .screen_container{
          width: 100%;
          margin: 0 auto;
          padding-top: 10vh;
          $base-padding-top: 10;
          @each $width, $scale in $breakpoints {
              @media (max-width: #{$width}px) {
                  padding-top: #{$base-padding-top * $scale}vh !important;
              }
          }

          .banner{
              width: 100%;
              margin: 0 auto;
          }

      }
  }

  #screen_25_11{
      overflow: hidden;
      background-image: url("/assets/img/W25-03-2.webp");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      z-index: 0;
      position: relative;
      text-align: center;
      min-height: 2577px;
      margin-top: -72px;
      $base-height: 2577;
      $base-margin-top: -72;
      $breakpoints: (
        920: 0.9,
        800: 0.8,
        768: 0.7,  /* 平板 */
        700: 0.6,
        576: 0.45,  /* 手機橫向 */
        430: 0.4,
        390: 0.35   /* 手機直向 */
      );
      z-index: 9;
      position: relative;
      @each $width, $scale in $breakpoints {
          @media (max-width: #{$width}px) {
              min-height: #{$base-height * $scale}px !important;
              margin-top: #{$base-margin-top * $scale}px!important;
          }
      }

      .screen_container{
          width: 100%;
          margin: 0 auto;
          padding-top: 12vh;
          $base-padding-top: 12;
          @each $width, $scale in $breakpoints {
              @media (max-width: #{$width}px) {
                  padding-top: #{$base-padding-top * $scale}vh !important;
              }
          }

          .banner{
              width: 100%;
              margin: 0 auto;
          }
      }
  }

  #screen_25_12{
      overflow: hidden;
      background-image: url("/assets/img/W25-03-3.webp");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      text-align: center;
      min-height: 189px;
      margin-top: -3px;
      position: relative;
      $base-height: 189;
      $breakpoints: (
        920: 0.9,
        800: 0.8,
        768: 0.7,  /* 平板 */
        700: 0.6,
        576: 0.45,  /* 手機橫向 */
        430: 0.4,
        375: 0.35   /* 手機直向 */
      );

      @each $width, $scale in $breakpoints {
          @media (max-width: #{$width}px) {
              min-height: #{$base-height * $scale}px !important;
          }
      }


      .screen_container{
          width: 100%;
          margin: 0 auto;
          padding-top: 10vh;
          .banner{
              width: 100%;
              margin: 0 auto;
          }
      }
  }
